<!DOCTYPE html>
<html lang="es">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <%- include('partials/navbar') %> <!-- Incluye la barra de navegación -->
</head>
<body class="bg-gray-100 text-gray-900 min-h-screen flex flex-col">

    <main class="container mx-auto mt-6 flex-grow">
        <h2 class="text-xl font-semibold mb-6">Listado de Paises</h2>

        <% if (message && message.length > 0) { %>
            <div class="mb-4 bg-green-100 p-4 rounded-md text-green-700">
                <p><%= message %></p>
            </div>
        <% } %>

        <table class="w-full border-collapse border border-gray-200 bg-white shadow-lg">
            <thead class="bg-gray-200">
                <tr>
                    <th class="border border-gray-300 px-4 py-2 text-left">Nombre Oficial</th>
                    <th class="border border-gray-300 px-4 py-2 text-left">Capital</th>
                    <th class="border border-gray-300 px-4 py-2 text-left">Fronteras</th>
                    <th class="border border-gray-300 px-4 py-2 text-left">Área</th>
                    <th class="border border-gray-300 px-4 py-2 text-left">Idiomas</th>
                    <th class="border border-gray-300 px-4 py-2 text-left">Población</th>
                    <th class="border border-gray-300 px-4 py-2 text-left">Zonas Horarias</th>
                    <th class="border border-gray-300 px-4 py-2 text-left">Creador</th>
                    <th class="border border-gray-300 px-4 py-2 text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% paises.forEach(function(pais) { %>
                <tr class="hover:bg-gray-100">
                    <td class="border border-gray-300 px-4 py-2"><%= pais.name.official %></td>
                    <td class="border border-gray-300 px-4 py-2"><%= pais.capital %></td>
                    <!-- <td class="border border-gray-300 px-4 py-2"><%= pais.capital.length > 0 ? pais.capital[0] : 'No disponible' %></td> -->
                    <td class="border border-gray-300 px-4 py-2"><%= pais.borders %></td>
                    <td class="border border-gray-300 px-4 py-2"><%= pais.area %> km²</td>
                    <td class="border border-gray-300 px-4 py-2">
                        <% 
                          // Convertir el Map de idiomas en un array de valores (idiomas) y luego unirlos con comas
                          const idiomas = Array.from(pais.languages.values()).join(', '); 
                        %>
                        <%= idiomas %>
                      </td>
                    <td class="border border-gray-300 px-4 py-2"><%= pais.population %></td>
                    <td class="border border-gray-300 px-4 py-2"><%= pais.timezones %></td>
                    <td class="border border-gray-300 px-4 py-2"><%= pais.creador %></td>
                    <td class="border border-gray-300 px-4 py-2 flex gap-1">
                        <a href="/countries/<%= pais._id %>/editar" 
                           class="px-3 py-1 bg-blue-500 text-white text-sm rounded-md shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300">
                            Editar
                        </a>
                        
                        <form action="/countries/<%= pais._id %>?_method=DELETE" method="POST" onsubmit="return confirmarEliminacion();">
                            <button type="submit" class="border border-black bg-red-500 text-black font-bold py-1 px-2 rounded hover:bg-red-700">
                                Eliminar
                            </button>
                        </form>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
        
        <div class="flex justify-center mt-6">
            <!-- Botón Volver -->
            <a href="/" 
               class="bg-gray-300 text-gray-700 py-2 px-4 rounded-md shadow-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-300">
                Volver
            </a>
          </div>
    </main>

    <br>
    
<br>
    <!-- <footer class="bg-blue-500 text-white py-4 mt-auto"> -->
        <%- include('partials/footer') %> <!-- Incluye el pie de página -->
    <!-- </footer> -->

    <script>
        // Función para confirmar antes de eliminar
        function confirmarEliminacion() {
            return confirm('¿Estás seguro de que deseas eliminar este País? Esta acción no se puede deshacer.');
        }
    </script>
</body>
</html>