<!DOCTYPE html>
<html lang="es">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <%- include('partials/navbar') %> <!-- Incluye la barra de navegación -->
</head>
<body class="bg-gray-100 text-gray-900">

    <main class="container mx-auto mt-6">
        <h2 class="text-xl font-semibold mb-6">Lista de Paises</h2>

        <table class="w-full border-collapse border border-gray-200 bg-white shadow-lg">
            <thead class="bg-gray-200">
                <tr>
                    <th class="border border-gray-300 px-4 py-2 text-left">Nombre Oficial</th>
                    <th class="border border-gray-300 px-4 py-2 text-left">Capital</th>
                    <th class="border border-gray-300 px-4 py-2 text-left">Fronteras</th>
                    <th class="border border-gray-300 px-4 py-2 text-left">Área</th>
                    <!-- <th class="border border-gray-300 px-4 py-2 text-left">Idiomas</th> -->
                    <th class="border border-gray-300 px-4 py-2 text-left">Población</th>
                </tr>
            </thead>
            <tbody>
                <% paises.forEach(function(pais) { %>
                <tr class="hover:bg-gray-100">
                    <td class="border border-gray-300 px-4 py-2"><%= pais.name.official %></td>
                    <td class="border border-gray-300 px-4 py-2"><%= pais.capital %></td>
                    <!-- <td class="border border-gray-300 px-4 py-2"><%= pais.capital.length > 0 ? pais.capital[0] : 'No disponible' %></td> -->
                    <td class="border border-gray-300 px-4 py-2"><%= pais.borders %></td>
                    <td class="border border-gray-300 px-4 py-2"><%= pais.area %> km²</td>
                    <!-- <td class="border border-gray-300 px-4 py-2"><%= pais.languages ? Object.values(pais.languages).join(', ') : 'No disponible' %></td> -->
                    <td class="border border-gray-300 px-4 py-2"><%= pais.population %></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </main>

    <br>
    <div class="flex justify-center mt-6">
      <!-- Botón Volver -->
      <a href="/" 
         class="bg-gray-300 text-gray-700 py-2 px-4 rounded-md shadow-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-300">
          Volver
      </a>
    </div>

    <footer class="bg-blue-500 text-white py-4 mt-6">
        <p class="text-center">&copy; Modulo 5 -Sprint 5 - by Nodo Tecnologico - 2024</p>
    </footer>

    <script>
        // Función para confirmar antes de eliminar
        function confirmarEliminacion() {
            return confirm('¿Estás seguro de que deseas eliminar este superhéroe? Esta acción no se puede deshacer.');
        }
    </script>
</body>
</html>